/* bring in normalize.css styles */
@import-normalize;

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.root {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.map-container {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mapboxgl-map {
  font-family: inherit;
  font-size: inherit;
}

.mapboxgl-marker {
  cursor: pointer;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup-content h2:first-letter {
  text-transform: uppercase;
}

.popup-img {
  width: 200px;
  max-height: 200px;
}