.formFields {
  display: grid;
  width: 300px;
  grid-template-columns: 80px 1fr;
  gap: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-content: center;
  align-items: center;
  textarea,
  input {
    width: 100%;
  }
}

.entryPopup {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  .styleWrap {
    position: relative;
  }
  h2 {
    margin-bottom: 0;
  }
}

$badgeSize: 1.8em;
.rating {
  position: absolute;
  top: -$badgeSize/4;
  left: -$badgeSize/4;
  display: inline-block;
  background: darkslateblue;
  color: white;
  font-size: 0.9em;
  width: $badgeSize;
  height: $badgeSize;
  line-height: $badgeSize;
  border-radius: 50%;
  text-align: center;
  justify-self: center;
}

.inputWrap {
  position: relative;
}
.inputError {
  display: block;
  font-size: 0.75rem;
  color: red;
  &::before {
    display: inline;
    content: '⚠ ';
  }
}
